// Text display
.text-muted {
  color: $text-secondary;
}

.text-center {
  text-align: center;
}


// Text colors
.text-light-blue {
  color: $light-blue;
}

// Float
.float {
  &.right {
    float:right;
  }
}
.clearfix {
  clear: both;
}